* {
	box-sizing: border-box;
}

html {
	height: 100%;	
}

body {
 	font-family: "Open Sans", sans-serif; 
	position: relative;
	bottom: 4px;
	margin, padding: 0;
	background-image: url("../images/science-lab-solo-1.jpg");
	//background-image: url("../images/science-lab.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
	overflow: hidden;
}

.wrapper {
	text-align: center;
	padding-top: 3.2rem;
}


h1 {
	font-size: 1.8rem; 
	line-height: 2px;
	margin-top: -10px;
	margin-bottom: 30px;
 	text-shadow: 2px 3px 1px rgba(0,0,0,0.5); 
	color: aliceblue;
	
}

h3 {
	font-size: 1.4rem;
	margin-top: 2.5px;
	color: aliceblue; 
	text-shadow: 2px 3px 1px rgba(0,0,0,0.5); 
}

hr {
	width: 7.5rem;
	margin-top: -20px;
	margin-bottom: 15px;
	height: 1px;
	background-color: #fff;
	border: none;
	text-shadow: 2px 3px 1px rgba(0,0,0,0.5);
}

.btn {
 	background-color: crimson; 
 	background: linear-gradient(crimson, firebrick);
	padding: .9rem .6rem;
	margin-top: 300px;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	font-size: 1.3rem;
	transition: ease 0.5s;
}

.btn:hover {
 	background-color: firebrick;
 	background: linear-gradient(firebrick, crimson);
	color: #eee;
	font-weight: 700;
	box-shadow: -2px 2px 2px 2px maroon;
}

footer {
	position: relative;
	top: 80px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 17px;
	text-shadow: 1.5px 1.2px 2px rgba(0,0,0,0.5); 
}


/*======================
	  MEDIA QUERIES 
=======================*/

@media (min-width: 375px) {
	
	h1 {
		font-size: 1.5rem;
		margin-top: 8px;
	}
	
	hr {
		width: 7.2rem; /*8.5*/
		margin-top: -30px;
	}

	.btn {
		margin-top: 320px;
	}
	
	.btn:hover {
		background-color: firebrick;
		font-weight: 700;
	}
	
	footer {
		top: 100px;
		
}
	

@media (min-width: 414px) {

	
	h1 {
		font-size: 2.2rem;
		margin-top: 8px;
	}
	
	h3 {
		font-size: 1.8rem;
	}
	
	hr {
		width: 7.2rem;
		margin-top: -30px;
	}
	
	.btn {
		margin-top: 330px; /* was 305px -- check to see if this fits */
	}
	
	.btn:hover {
		background-color: firebrick;
		font-weight: 700;
	}
	
	footer {
		top: 150px;
		letter-spacing: 1px;
	}
}


@media (min-width: 448px) /* and (max-width: 641px) */ {
	
	h1 {
		font-size: 2.8rem;
 		margin-top: 10px; 
	}
	
	h3 {
		font-size: 1.7rem;
		margin-top: 20px;
	}
	
	hr {
		width: 9.6rem;
		margin-top: -28px;
	}
	
	.btn {
		font-size: 1.4rem;
		margin-top: 350px; /* was 325px*/
		padding: 1rem .9rem;
	}
	
	.btn:hover {
		background-color: firebrick;
		font-size: 700;
	}
	
	footer {
		top: 80px;
	}
}


@media (min-width: 561px) {
		
	 h1 {
		font-size: 2.2rem;
	}
	
	.btn {
		font-size: 1.8rem;
		margin-top: 380px;
		padding: 1rem .9rem;
	}
	
	.btn:hover {
		background-color: firebrick;
		font-size: 700;
	}
	
	hr {
		width: 9.2rem;
		margin-top: -28px;
	}
	
	
	footer {
		top: 100px;
	}
}


@media (min-width: 642px) and (max-width: 767px) {
	
	
	h1 {
		font-size: 3.2rem;
 		margin-top: 10px; 
	}
	
	h3 {
		font-size: 1.9rem;
		margin-top: 20px;
	}
	
	hr {
		margin-top: -30px;
	}
		
	.btn {
		font-size: 1.4rem;
		margin-top: 400px;  /* was 400px*/
		padding: 1rem .9rem;
	}
	
	.btn:hover {
	 	background-color: crimson; 	 	
	 	font-weight: 700; 
	}
	
	footer {
		top: 180px; /* was 100px*/
	}
}



@media (min-width: 768px) {
	
	body {
		background-image: url("../images/science-lab.jpg");
	}
	
	
	h1 {
		font-size: 3.8rem;
		margin-top: 0px;
		font-weight: 700;
	}
	
	h3 {
		margin-top: 30px;
		font-size: 1.9rem;
	}
	
	hr {
		margin-top: -31px;
		width: 9.5rem;
	}
	
	.btn {
		font-size: 1.4rem;
		position: relative; 
		top: 30px; /* was 50px */
		padding: 1rem .9rem;
	}
	
	.btn:hover {
	 	background-color: crimson; 
	 	font-weight: 700; 
	}
	
	footer {
		top: 210px; /* was 130px */
	}
}


@media (min-width: 991px) {
	
	h1 {
		font-size: 4rem;
		margin-top: 58px;
	}
	
	h3 {
		margin-top: 40px;
	}
	
	hr {
		margin-top: -29px;
		width: 9.5rem;
	}
	
	.btn {
		font-size: 1.4rem;
		position: relative;
		top: -150px; /*top: 15px */
		padding: .9rem .7rem;
	}
	
	.btn:hover {
	 	background-color: crimson; 
	 	font-weight: 700; 
	}
	
	footer {
		top: 130px; /* was 370px */
	}
}


@media (min-width: 1200px) {
	
	.wrapper {
		margin-top: 10px;
	}
	
	h1 {
		font-size: 6.5rem;
	}
	
	
	h3 {
		font-size: 2rem;
		margin-top: 50px;
	}
	
	hr {
		margin-top: -32px;
		width: 10rem;
	}
	
	
	.btn {
		font-size: 1.5rem;
		margin-top: 305px;
		padding: 1rem .9rem;
	}
	
	.btn:hover {
	 	background-color: firebrick;   
		font-weight: 700;
	}
	
	footer {
		top: 180px;
	}
 }
